<!DOCTYPE html>
<html>

  <head>
    <title>Web Guesser</title>
  </head>

  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
    <p>
      <%= message %>
    </p>
    <p>
      The secret number is <%= secret_number %>
    </p>
  </body>

</html>