<!DOCTYPE html>
<html>

  <head>
    <title>Web Guesser</title>
  </head>

  <body>
    <form>
      <input type="text" name="guess" />
      <input class="btn" type="submit" value="Guess!" />
    </form>
    <p>
      <%= message %>
    </p>
    <p>
      <%= "Out of guesses! Try again." if guesses == 0 && !message.include?("right") %>
      <%= "The secret number is #{secret_number}. \nPlay again!" if message.include?("right") %>
    </p>
  </body>

</html>